body {
  font-family: 'Nunito Sans', sans-serif;
  color: black;
}

.mydisplayFont {
  font-family: 'Gelasio', serif;
}
.myheadingFont {
  font-family: 'Lobster Two', cursive;
}

.jumbotron {
  background-color: #6C6EA0;
  color: #FFFFFF;
  height: 10rem;
  box-shadow: 2px 5px 5px #6C6EA0;
}

.infoCol {
  padding-right: 2rem;
}

.card {
  box-shadow: 0px 3px 10px;
  margin-bottom: 4%;
  
}

.nav {
  border-bottom: solid;
  border-bottom-color: #66C7F4;
  width: 67%;
  float: right;
  margin-bottom: 4%;
}

.btn {
  border: #C1CAD6 outset;
  float: right;
  border-radius: 40px;
  background-color: #C1CAD6;
}

.btn:hover {
  border: inset;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #C1CAD6;
  color: black;
  text-align: left;
}

.nav-link {
  color: #0A122A;
}

.nav-link:hover {
  color: #66C7F4;
  border-top: inset;
  border-top-color: #66C7F4;
  
}