body {
  font-family: 'Nunito Sans', sans-serif;
  color: black;
}

#mainContent{
  margin-right: 5%;
}

.picCont {
  border-top: dotted #3A463A;
}
.mydisplayFont {
  font-family: 'Gelasio', serif;
}
.myheadingFont {
  font-family: 'Lobster Two', cursive;
}


.jumbotron {
  background-image: linear-gradient(to bottom right, #3B3C58, #66c7f4a4);
  color: #FFFFFF;
  height: 10rem;
  box-shadow: 2px 5px 5px #3B3C58;
}

.infoCol {
  padding-right: 2rem;
}

.card {
  box-shadow: 0px 3px 10px;
  margin-bottom: 4%;
  
}

.nav {
  border-bottom: solid;
  border-bottom-color: #66C7F4;
  width: 67%;
  float: right;
  margin-bottom: 10%;
}

.btn {
  border: 5px #C0D6C1 outset;
  color: #FFFFFF;
  float: right;
  border-radius: 15px;
  background-color: #3A463A;
}

.btn:hover {
  border: 5px #C0D6C1 inset;
  color: #FFFFFF;
  float: right;
  border-radius: 15px;
  background-color: #3A463A;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #C1CAD6;
  color: black;
  text-align: left;
}

.nav-link {
  color: #0A122A;
}

.nav-link:hover {
  color: #3A463A;
  border-top: dotted;
  border-top-color: #66C7F4;
  
}

.myImage {
  border: solid 2px #3A463A;
  border-radius: 100px;
  box-shadow: 2px 2px 2px #3A463A; 
}
